body{
		margin-top: 20px;
		background-color:#27213c;
		color: white;
	}
.jumbotron{
		background-image: url(../images/game.jpg);
		background-blend-mode: soft-light;
		background-size: 100% 100%;
		background-color: #7A306C;
		padding-left: 5px;
		padding-right: 5px;
	}
#search-button{
		background-color: #27213c;
		border: black;
		color: white;
	}
#info {
		width: 1170px;
    	margin-left: -30px;
}
#youtubeHere {
		width: 1170px;
    	margin-left: -30px;
}
#cover-goes-here {
		text-align: -webkit-center;
}
.btn-primary:hover{
		transform: scale(1.02);
	}
#recent{
		background-image: none;
		background-color: #27213c;
		color: white;
	}
.form-control{
		background-color: #7A306C;
		border-color: #27213c;
		color: white;
	}
.form-control:focus{
		background-color: #7A306C;
		border-color: #27213c;
		color: white;
	}
.form-control::placeholder{
		color: #27213c;
	}
.card{
		margin-bottom: 20px;
    	text-align: center;
    	background-image: url(../images/game.jpg);
    	background-blend-mode: soft-light;
		background-color: #7A306C;
		border: 2px solid rgba(0,0,0,.125);
	}
h4,h3{
    	padding: 15px;
	}
#name{
		width: 100%;
		text-align: center;
	}

#made-by{
		width: 90%;
	}
#name-goes-here{
		width: 90%;
	}
.cardspace{
		margin: 9px;
		width: 50px;
		display: inherit;
	}
.scroll{
		overflow-y: auto;
		height: 471px;
		margin-bottom: 0px;
		border: none;
	}
.coverImg {
		max-width: 360px;
		height: 204px;
	}
a{
		color: #27213c;
	}
a:hover{
		color: #7A306C;
	}
a:focus{
		color: #7A306C;
	}
a:active{
		color: #7A306C;
	}
.modal{
    	position: relative;
    	top: -300px;
    	left: 400px;
		background-color: #7A306C; 
		padding: 17px;
		color: black;
		max-width: fit-content;
		text-align: center;
	}
#website{
		margin-bottom: 20px;
	}
.inline{
		display: inline;
	}
#game-description{
		margin-top: 2px;
		margin-bottom: 20px;
		height: 471px;
	}
#platform{
		width: 100%;
	}
.pad{
		padding-right:	10px;
	}
::-webkit-scrollbar{
  		width: 12px;
	}
::-webkit-scrollbar-track{
  		background: #27213c; 
	}
::-webkit-scrollbar-thumb{
  		background: #7A306C; 
	}
::-webkit-scrollbar-thumb:hover{
 		 background: #7A306C; 
	}
#recentTable{
		height: 290px;
	}
hr{
		background-color: #7A306C;
	}
.recentItem:hover{
		cursor: pointer;
		transform: scale(1.02);
	}