body {
    margin-top: 20px;
    background-color: #27213c;
    color: #B8C4BB;
}
.jumbotron {
    background-color: #7A306C;
}
#search-button, #random-button {
		background-color: #27213c;
		border: black;
}
.card{
	margin-bottom: 20px;
	text-align: center;
	background-color: #7A306C;
}
h4, h3 {
    padding: 15px;
}
#name{
	width: 100%;
	text-align: center;
}
.pix{
    width: 100px;
    height: 100px;
}
#made-by{
	width: 90%;
}
.cardspace
{
    margin: 9px;
}